$color-primary: #4497E2;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    
    border-bottom: 1px solid $color-primary;
}
#aboutme{
    background: linear-gradient( rgba(255,255,255,1) 76%, rgba(68,151,226,0.16290266106442575) 100%);
    padding: 20px;
}
.about-container{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    font-family: 'Roboto', sans-serif;
    h1{
        font-size: 2.3rem;
        margin: 0;
        margin-top: 20px;
    }
    h2{
        text-align: center;
        
    }

}
.details-container{
    span{
        color: $color-primary;
    }
}

.flex-container{
    
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
    

    .col-1{
        margin:0 30px;
        
        li:hover{
            color: $color-primary;
            text-decoration: underline;
            
        }
        
    }
    .col-2{
        width: 1000px;
        text-align: left;
        margin:0 30px;
        font-size: 1.2rem;

        span{
            color: black;
            font-weight: bold;
        }
    }
}

.skills-container{
    display: flex;
    flex-flow: wrap;
   
}
.skills-list{
    display: flex;
    flex-flow: row wrap;
    
    
    li{
        flex-basis: 40%;
      
    }
}

.tools-container{
    display: flex;
    flex-flow: wrap;
    
    
}
.tools-list{
    display: flex;
    flex-flow: row wrap;
    
    
    li{
        flex-basis: 40%;
        width: 56px;
    }
}


@media only screen and (max-width: 900px) {
    .flex-container{
        flex-direction: column;
        
    .col-2{
        width: 300px;
        text-align: left;
    }
    
    .tools-list{
        flex-basis:  50%;
        flex-direction: column;
    }
    .skills-list{
        flex-direction: column;
        
    }

}

}