$color-primary: #4497E2;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


footer{
    font-family: 'Roboto', sans-serif;
    height: 200px;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    h1{
        text-align: center;
        color: white;
    }
    h3{
        color: white;
        font-weight: lighter;
    }

}
