$color-primary: #4497E2;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}
/*
.container{
    border-top: 8px solid $color-primary;
    
    background-image: linear-gradient(to bottom,#000000ab 70%,#ffffff44 100%),url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutme-container{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-top: 130px;

        h4{
            font-size: 2.4rem;
            text-transform: capitalize;
            letter-spacing: 4px;
            color: white;
            text-align: center;
            margin: 0;
        }
        h5{
            color: white;
            font-size: 2rem;
            text-transform: capitalize;
            margin: 0;
              
        }


}
*/
.links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
        ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: center;
        gap: 90px;
        margin-top: 150px;
        
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
    }
    .icon{
        transform: translateY(-15%);
        width: 30px;
        height: 30px;
        
    }

 
    ul :hover{
        position: relative;
        transform: translateY(-15%);
        transition-delay: 50ms;
       
    }
    
}
.map-icon{
    img{
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
}


@media only screen and (max-width: 600px) {
    .links-container ul{
        gap: 40px;
        margin-right: 2px;
    }
}

  
   