$color-primary: #4497E2;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.projects-container{
    
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.projects-container{
    
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}



.project-container{
    border-bottom: solid 1px $color-primary;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
    
    
   
    p{
        
        text-align: left;
        font-size: 15px;
        
    }
    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.1rem;
    }
    span{
        color: $color-primary;
        font-weight: bold;
    }
    .col-2{
        width: 360px;
    }

    .col-1{
        margin: 0 40px;
    
        img{
           
            width: 400px;
            height: 330px;
            filter: brightness(1.20);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .icon{
            width: 25px;
            height: 25px;
            box-shadow:none;
            position: relative;
            
        }
        .liveIcon{
            width: 22px;
            height: 22px;
            box-shadow:none;
            position: relative;
            
        }
        .links{
            display: inline;
            
            
        }
        #disabled-link{
            pointer-events: none;
        }
        a{
            text-decoration: none;
            color: $color-primary;
            font-weight: 550;
        }
      

        ul{
            list-style-type: square;
            list-style-position: outside;
            font-size: 1.1rem;
            text-align: left;
            
        }
    }
 
      
}





@media only screen and (max-width: 600px) {
    .project-container{
        flex-direction: column;
        
        .col-1{
            margin:auto auto;
        img{
            width: 350px;
            height: 300px;
            
        }
        
        p{
            font-size: 10px;
        
        }
            
        
    }

    .heading-container{
        width: 500px;
    }
   
    }
}

@media only screen and (device-width: 768px) {
    .project-container{
        flex-direction: column;
        
        .col-2{
         
            p{
                text-align: center;
            }
        }
    }
}


