.weather-widget{
    color: white;
    margin: 0 auto;
    padding:0;
    text-align: left;
    background-color: rgb(40,152,236);
    border-radius: 5px;
    padding-left: 51px;
    width: 70px;
    height:30px;
    padding-top: 2px;
}